.header{
    &__right{
        width: 40%;
    }
    &__ul{
        display: block;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }
}

.mobile-menu{
    &__btn{
        display: none;
    }
}

.statement{
    &__container{
        display: flex;
        flex-direction: column;

    }
    
    &__upper{
        display: flex;
        flex-direction: column;

        & > span{
            flex-wrap: nowrap;
            font-size: 48px;
        }
    }

    &__lower{
        width: 40%;
        & > p > span{
            display: inline-block;
            margin-left: 20px;
        }
    }
    
}

.intro{
    &__container{
        flex-direction: row;
        justify-content: space-around;
        padding-top: 20px;

    }

    &__main{
        flex-basis: 500px;
    }
}