
.header{
    &__right{
        width: 40%;
    }
    &__ul{
        display: block;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }
    
    &__li:hover{
        transform: scale(1.5);
        opacity: 0.8;
        transition: all 0.3s;
    }
}

.mobile-menu{
    &__btn{
        display: none;
    }
}

.statement{
    &__container{
        display: flex;
        flex-direction: column;

    }
    
    &__upper{
        display: flex;
        flex-direction: column;

        & > span{
            flex-wrap: nowrap;
            font-size: 48px;
        }
    }

    &__lower{
        width: 40%;
        & > p > span{
            display: inline-block;
            margin-left: 20px;
        }
    }
    
}

.statement{
    padding-bottom: 50px;
}

.intro{
    height: 80vh;
    padding-top: 80px;
    // padding-bottom: 100px;
    &__container{
        flex-direction: row;
        justify-content: space-around;
        padding-top: 20px;
    }

    &__main{
        flex-basis: 500px;
    }

    &__sentence{
        font-size: 16px;
    }

    // &__img{
    //     & > img
    //     width: 100%;
    // }
}

.project{
    padding-top: 100px;
    // padding-bottom: 50px;
    height: 115vh;

    &__inner{
        row-gap: 50px;
    }
}



.skill{
    padding-top: 40px;
    height: 50vh;
    &__heading{
        justify-content: center;
    }

    &__h2{
        margin-right: 10px;
    }

    &__inner{
        width: 90%;
        flex-wrap: wrap;
    }
    
    &__list{
        flex-basis: 25%;
        & > .skillIcon{
            font-size: 4em;
        }
    }
}

.contact{
    font-size: 24px;

    &__email{
        width: 28%;
    }

    &__icons{
        & > .sns{
            font-size: 1.5em;
        }
    }
}