//Font-family
.ff-p{
    font-family: 'Playfair Display', serif;
}

.h2{
    font-family: 'Titillium Web', sans-serif;
}

// Font Size
.fs-intro{
    font-size: 68px;
}

.fs-h2{
    font-size: 60px;
}

.fs-mobile-h2{
    font-size: 48px;
}

.fs-mobile-intro{
    font-size: 32px;
}

.fs-sm{
    font-size: 24px;
}

.fs-p{
    font-size: 20px;
}

.fs-mobile-p{
    font-size: 12px;
}

// make contents centered
.content-width{
    width: 90%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

.flex{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: $cBgGray;
    width: 100%;
    display: flex;
    align-items: center;

    &__container{
        display: flex;
        justify-content: space-between;
        @extend .content-width;
        align-items: center;
        height: 100px;
        color: $cWhite;
    }

    &__nav{
        // @extend .flex;
        
        align-items: center;
        text-align: center;
    }

    &__ul{
        list-style: none;
        display: none;
    }

    &__left{
        display: flex;
        & .name{
            @extend .fs-mobile-intro;
            font-weight: 800;
            margin-left: 20px;
        }

        & .logo{
            height: 90%;
            width: 90%;
            justify-content: center;
        }
    }

    
}