.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn > span {
  background-color: #fff;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__main {
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0, 40px;
  font-weight: 600;
}

.mobile-menu__cover {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #535353;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  visibility: hidden;
}

.menu-open__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open #container {
  -webkit-transform: translate(-300px, 60px);
          transform: translate(-300px, 60px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.7);
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: translate(-18px) scaleX(0);
          transform: translate(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition: all 1.1s;
  transition: all 1.1s;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.ff-p, .intro__sentence {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  color: #5ebec4;
  font-weight: bolder;
  font-size: 36px;
}

.fs-intro {
  font-size: 68px;
}

.fs-mobile-h2 {
  font-size: 48px;
}

.fs-mobile-intro, .mobile-menu__item, .header__left .name, .statement__upper > span, .statement__lower > span, .statement__lower .word {
  font-size: 28px;
}

.fs-sm {
  font-size: 24px;
}

.fs-p, .intro__btn > button, .skill__list > span {
  font-size: 20px;
}

.fs-mobile-p, .intro__sentence {
  font-size: 12px;
}

.content-width, .header__container, .statement__container, .intro__container, .intro__sentence, .project, .skill__container {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .project, .skill__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

main {
  padding-top: 100px;
}

.header {
  background-color: #535353;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  color: #fff;
}

.header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__ul {
  list-style: none;
  display: none;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__left .name {
  font-weight: 800;
  margin-left: 20px;
}

.header__left .logo {
  height: 90%;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statement {
  background-color: #fefff5;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statement__upper > span {
  text-transform: uppercase;
  font-weight: bold;
}

.statement__lower {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statement__lower > span {
  text-transform: uppercase;
  font-weight: bold;
}

.statement__lower .word {
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 70px;
  opacity: 0;
}

.statement__lower .word .letter {
  display: inline-block;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.statement__lower .word .letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.statement__lower .word .letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.statement__lower .word .letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.intro {
  background-color: #fdf5df;
  width: 100%;
  height: 710px;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.intro__img {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.intro__img > img {
  width: 140px;
  z-index: 2;
  position: absolute;
  top: 20px;
}

.intro__img .rectangle {
  background-color: #fff;
  padding: 10px;
  height: 230px;
  width: 150px;
  -webkit-transform: translateX(40px) translateY(14px) rotate(10deg);
          transform: translateX(40px) translateY(14px) rotate(10deg);
}

.intro__main {
  text-align: center;
}

.intro__sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.intro__sentence > span {
  text-align: start;
  color: #535353;
}

.intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.intro__btn > button {
  border-radius: 30px;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #535353;
  cursor: pointer;
}

.intro__btn > button:hover {
  background-color: #535353;
  color: #fff;
}

.project {
  gap: 10px;
  background-color: #fefff5;
  margin-bottom: 40px;
}

.project__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.project__heading {
  text-align: center;
}

.project__card {
  height: 180px;
  width: 337px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 1px #535353;
          box-shadow: 1px #535353;
}

.project__exp {
  display: none;
}

.skill {
  background-color: #fdf5df;
  height: 40vh;
}

.skill__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
}

.skill__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.skill__icon > i {
  line-height: 53px;
}

.skill__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill__list {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.skill__list > span {
  font-weight: bold;
}

@media (min-width: 600px) {
  .header__right {
    width: 40%;
  }
  .header__ul {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  .mobile-menu__btn {
    display: none;
  }
  .statement__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statement__upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statement__upper > span {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 48px;
  }
  .statement__lower {
    width: 40%;
  }
  .statement__lower > p > span {
    display: inline-block;
    margin-left: 20px;
  }
  .intro__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
  }
  .intro__main {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
  }
}

@media (min-width: 960px) {
  .statement__lower > p > span {
    display: inline-block;
    margin-left: 30px;
  }
  .word {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */